body {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  max-width: 400px;
  margin: 60px auto 0;
  text-align: center;
  /* Adjust the top margin as needed */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

label {
  display: none;
}

input[type="email"] {
  width: calc(100% + 4cm);
  /* Increase width by 4cm */
  padding: 10px;
  margin-bottom: 20px;
  /* Increase margin bottom */
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: -2.35cm;
  /* Offset by 2.35cm to keep centered */
}

input[type="email"]:focus {
  outline: none;
  border-color: green;
}

input[type="email"]::placeholder {
  color: #999;
}

button[type="submit"] {
  width: calc(100% + 2cm);
  /* Increase width by 2cm */
  padding: 12px;

  background-color: #466b6d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: -1cm;
  margin-bottom: 30px;
  /* Offset by 1cm to keep centered */
}

button[type="submit"]:hover {
  background-color: #6ec1c7;
  /* Adjust gradient colors for hover state */

}



a {
  margin-top: 90px;
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}